.title {
  max-width: 180px;
}

.lastMessage,
.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastMessage {
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  color: #605e5c;
}
