.app {
  -webkit-box-shadow: 0 0 10px 8px rgba(112, 112, 112, 0.2);
  -moz-box-shadow: 0 0 10px 8px rgba(112, 112, 112, 0.2);
  box-shadow: 0 0 10px 8px rgba(112, 112, 112, 0.2);
  margin-top: 30px;
}